<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster|Molengo|Neucha|Reenie+Beanie|Tangerine"></link> 
    
    <link rel="stylesheet" type="text/css" href="buttons.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script src="js/jquery-ui-1.8.14.custom.min.js"> </script>

    <script type="text/javascript">

      $(function(){
        var state = "QUESTION";
        var branches = <%= @branches %>;
        var pollers = []
        
        function hide_question(){
          $("#question").hide();
        }


        /* Make div ID update its contents in realtime. */
        function create_poller(id){
          /* Bind last_value in a closure to only_if_needed, which will check
             against it to ensure that text isn't changed unnecessarily. */
          var last_value = "";

          var only_if_needed = function(new_value){
            $.ajax({"url" : "/../" + id}).success(function(result){
              if (result != last_value){
                /* Right now, if you have one backtrace open and a new one comes
                   in, it will close the open backtrace. This bug can be fixed 
                   with: 
                   if last_value.starts_with result { append } */ 
                $("#" + id).html(result);
                last_value = result;
              }
            });
          }

          return only_if_needed;
        }

        pollers = [ create_poller("stats")
                  , create_poller("failures")
                  , create_poller("title")
                  ];

        /* Check for updates every 100ms. Ah, the joys of non-production 
           software. */
        setInterval(function(){
            for (var i = 0; i < pollers.length; i++){
              pollers[i]();
            }
        }, 100);

        /* For the 'Go!' link. */
        $('#run-option').live('click', function(){
            var branch = $("#branch").val();

            $.ajax({"url" : "/start-buffet-server/" + branch}).success(function(){
              hide_question();
            });
        });

        /* The next two functions both toggle the backtrace. */
        $(".fail-header").live("click", function(event){
            $(event.target).next().toggle();
        });

        $(".fail-location").live("click", function(event){
            $(event.target).next().next().toggle();
        });

        $("#branch").autocomplete({ source : branches });

        function give_default_value(id, value){
          var cleared = false;

          $("#" + id).val(value);

          $("#" + id).click(function(){
              if (cleared){
                return;
              }

              cleared = true;
              $("#" + id).select();
          });
        }

        give_default_value("branch", "master");
      });
    </script>
  </head>
  <body>
    <h1>Buffet<span class='flat' id='title'></span></h1>
    <div id="content">
      <div id="question">
        <label for="branch">Branch</label>
        <input type="text" id="branch" />
        <a id="run-option" href="#" onclick="return false;"
          class="gray button">Run Tests</a>
      </div>
      <div id="stats"></div>
      <div id="failures"></div>
    </div>
  </body>
</html>
